{% extends 'enroll/base.html' %}
{% block content %}

    
        <h4 class="text-center alert alert-info"> Employee List   </h4>

        {% if stu %}
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  
                  <th scope="col">Contact</th>

                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for st in stu %}
                <tr>
                  <th scope="row">{{st.id}}</th>
                  <td>{{st.name}}</td>
                  <td>{{st.email}}</td>
                  
                  <td>{{st.contact}}</td>

                  <td>
                  
                  </form>
                  </td>
                 

                </tr>
                
    
                {% endfor %}
                
              </tbody>
            
        </table><hr>
        <h4 class="text-center alert alert-info" ><a href="{% url 'addemp' %}" target="_blank">Add Employee</a> </h4>

        <hr>
        {% else %}
        
        <h4 class="text-center alert alert-warning"> NO Record </h4>
        {% endif %}
    </div>

{% endblock content %}